
.radio-wrapper{
	&.radio-block{
		.radio-btn {
			display: block;
		}
	}
	&.radio-inline{
		.radio-btn {
			display: inline-block;
			margin-right: 10px;
		}
	}
	.radio-btn {
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			&:checked {
				& ~ .checkmark {
					background-color: $white;
					border: solid 1px $lightblue;
					&:after {
						display: block;
					}
				}
			}
		}
		&:hover {
			-webkit-transition: .4s;
			transition: .4s;
			input {
				& ~ .checkmark {
					background-color: $drkgrey;
				}
			}
		}
		.checkmark {
			&:after {
				top: 1px;
				left: 1px;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background: $lightblue;
			}
		}
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 22px;
		width: 22px;
		background-color: $lightgrey;
		border-radius: 50%;
		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
}
