
.modal{
    &.new-category{
        .modal-dialog{
            max-width: 550px;
        }    
    }
    .btn-close{
        color: rgba($black, 0.5);
        opacity: 0.2;
        border: 1px solid rgba($black, 0.5);
        border-radius: 50%;
        width: 0.7rem;
        height: 0.7rem;
        font-size: 0.7rem;
        position: absolute;
        padding: .5rem .5rem;
        right: 24px;
        top: 25px;
        z-index: 1;
    }
    .modal-header{
        border: none;
        padding: 1rem 2.5rem;
        position: relative;
        .modal-title{
            font-size: 2rem;
        }
        
        &::after{
            content: '';
            position: absolute;
            border-bottom: 1px solid #111;
            width: 83%;
            bottom: 0;
        }
    }
    .modal-body{
        padding: 1rem 2.5rem;
        position: relative;
    }
    &.category-confirm{
        .btn-close{
            top: 20px;
        }
        .modal-body{
            padding: 1rem 4rem 1rem 4rem;
            position: relative;
            i{
                color: $orange;
                font-size: 2.5rem;
                position: absolute;
                left: 10px;
                top: 5px;
            }            
        }
    }

    &.add-trail-class{
        .modal-dialog{
            max-width: 700px;                    
        }
    }
}