.notification {
  width: 619px;
  background: #fadb71;
  text-align: center;
  padding: 5px;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}

.heading {
  font-family: inherit;
}

.MuiTab-wrapper {
  text-transform: none;
  letter-spacing: normal;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
  color: black;
}
