.form-container {
  .MuiSelect-select.MuiSelect-select {
    background-color: white;
  }
  .timezone-container {
    display: flex;
  }
  .MuiInput-underline:before {
    display: none;
  }
  .MuiInput-underline:after {
    display: none;
  }
  .Mui-focused {
    background-color: white;
  }
  .form-label {
    margin-bottom: 5px;
  }
  .MuiInput-underline:before {
    border-bottom: none;
  }
  .class-repeat {
    height: 55.4px;
    border-radius: 4px;
    .MuiSelect-select.MuiSelect-select {
      padding-right: 24px;
      padding: 13px;
      background-color: white;
    }
    .class-repeat-input {
      width: 100%;
      border: 1px solid rgb(197, 194, 194);
      height: 55.4px;
      border-radius: 4px;
    }
  }

  .daily-repeat-input {
    height: 50px !important;
    border: 1px solid rgb(197, 194, 194);
    padding: 9px;
    border-radius: 4px;
    height: 32px;
    text-align: center;
    .MuiInputBase-input {
      text-align: center;
    }
  }
  .repeat-every-container {
    display: flex;
    margin: 32px 0px;

    .MuiSelect-select.MuiSelect-select {
      background-color: white;
    }
    .Mui-focused {
      background-color: white;
    }
    .inf-icon-day {
      padding: 11px 0px;
    }
    .label {
      margin-right: 9px;
      margin-top: 13px;
    }
    .dropdown {
      margin: 0px 8px;
    }
    .weeks-field {
      display: inline-block;
      margin-left: 18px;
    }
    .inf-icon {
      display: inline-block;
      color: #65b1ec;
      font-size: 21px;
      padding-top: 2px;
      margin-left: 8px;
      margin-top: 12px;
    }
  }

  .daily-container {
    margin-top: 38px;
  }
  .day-label {
    display: inline;
    margin-left: 10px;
  }
  .legend {
    margin-left: 9px;
    margin-right: 7px;
    margin-top: 15px;
  }
  .repeat-until-label {
    margin-right: 17px;
    margin-left: 9px;
    margin-top: 15px;
  }

  .space-form {
    margin-bottom: 38px;
  }
  .timezone {
    font-size: 18px;
    line-height: 21px;
    color: #323232;
    margin-bottom: 30px;
    display: inline-block;
  }
  .batch {
    .label-div {
      display: flex;
    }
    .label {
      display: inline-block;
      color: rgba(0, 0, 0, 0.54);
    }
    svg:not(:root).svg-inline--fa {
      overflow: visible;
      color: #65b1ec;
      font-size: 21px;
      margin-left: 4px;
      padding-top: 2px;
      margin-top: 16px;
    }
    .batch-input-field {
      min-width: 558px;
      display: flex;
    }
  }

  .occurences-input {
    margin: 12px 0px;
    width: 75%;
    height: 50px;
    border: 1px solid rgb(197, 194, 194);
    border-radius: 4px;
    box-sizing: border-box;
    .MuiInputBase-input {
      padding: 15px;
      text-align: center;
    }
    .oc-label {
      font-size: 18px;
      color: #323232;
      margin: 0px 7px;
    }
  }
  .calender {
    margin-top: 15px;
  }
  .inf-icon {
    display: inline-block;
    color: #65b1ec;
    font-size: 21px;
    padding-top: 2px;
    margin-left: 8px;
    // margin-top: 16px;
  }
  .select {
    height: 50px;
    border: 1px solid rgb(197, 194, 194);
    width: 100%;
    border-radius: 4px;
  }
  .price-btn {
    text-transform: none;
    width: 672px;
    border: 1px solid #ff8021;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    margin-left: 12px;
    margin-top: 72px;
    margin-bottom: 30px;
    background: white;
    letter-spacing: normal;
    font-family: sans-serif;
  }
  .price-btn:hover {
    background: white;
  }
  .attribute-learn-more {
    color: orange;
    margin-right: 5px;
  }
  .save-btn {
    text-transform: none;
    letter-spacing: normal;
    font-size: 16px;
    line-height: 150%;
    color: #f8f8f8;
    margin: 0px 10px;
    font-family: sans-serif;
    font-weight: 500;
  }
  .back-btn {
    text-transform: none;
    letter-spacing: normal;
    margin-top: 96px;
    font-size: 15px;
    line-height: 150%;
    color: #ff8021;
    border: 1px solid #ff8021;
  }
}
