$white: #fff;
$black: #000;
$offblack: #323232;
$lightblue: #65b1ec;
$extraLightBlue: #cbe8ff;
$orange: #ff8021;
$green: #008000;
$error: #c95b3b;
$greybg: #f8f8f8;
$lightgrey: #C4C4C4;
$drkgrey: #cccccc;

$sidebarbg: #262E4A;

$stepperItemBg: #FADB71;
$dmiltri: #518888;
$miltri: #62BAA4;
$parrot: #8ED25E;
$dparrot: #A6AD51;
$myellow: #FFCE4D;
$lightorange: #FFB16C;
$vilot: #BD46B7;
$brangle: #7F65AF;
$dgrey: #908F7F;
