#payment form {
  box-sizing: border-box;
  width: 100%;
}
#payment input[type="text"],
#payment input[type="password"],
#payment input[type="date"],
#payment input[type="datetime"],
#payment input[type="email"],
#payment input[type="number"],
#payment input[type="search"],
#payment input[type="file"],
#payment input[type="tel"],
#payment input[type="time"],
#payment input[type="url"],
#payment textarea,
#payment select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 15px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  color: #323232;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #65b1ec;
  border-radius: 20px;
  font-weight: 400;
  padding-left: 20px;
}

#payment input[type="radio"],
#payment input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

#payment input[type="text"] {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
#payment select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

#payment fieldset {
  margin-bottom: 0px;
  border: none;
}

#payment legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

#payment label {
  display: block;
  margin-bottom: 8px;
  color: #323232;
}

#payment label.light {
  font-weight: 300;
  display: inline;
}
