.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none !important;
}
.MuiInput-underline:active:not(.Mui-disabled):before {
  border-bottom: none !important;
}
.MuiInput-underline {
  border-bottom-color: transparent;
}
.MuiSelect-select:focus {
  border-radius: 0;
  background-color: none !important;
}
.MuiSelect-select:focus {
  border-radius: 0;
  background-color: transparent;
}
.MuiCheckbox-root {
  color: #65b1ec !important;
}
.MuiSelect-select:focus {
  border-radius: 0;
  background-color: transparent;
}
